<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Simple SPARQL query/update dispatcher</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="shapeshift.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" type="image/x-icon" href="rs/img/favicon.ico" />    
</head>
<body>
	<h1>Simple SPARQL query/update dispatcher</h1>

	<hr size="1" />

	<form action="query" method="POST">
		<textarea rows="30" cols="150" name="query" autofocus="autofocus" th:text="${query}">
			<pre><![CDATA[
				PREFIX nsl: <http://shapeshifting.tv/ontology/nsl#>
				PREFIX production: <http://shapeshifting.tv/ontology/production#>
				PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
				PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
				PREFIX xsd: <http://www.w3.org/2001/XMLSchema#> 
				
				SELECT 
				WHERE { }]]>
			</pre>
		</textarea>
		<br />
		<label><input type="radio" name="modelType" value="INFERENCE" required="required" th:checked="${param.modelType == 'INFERENCE'}"/>Inference</label>
		<label><input type="radio" name="modelType" value="ONTOLOGY" required="required" th:checked="${param.modelType == 'ONTOLOGY'}"/>Ontology</label>
		<label><input type="radio" name="modelType" value="RAW" required="required" th:checked="${param.modelType == 'RAW' || param.modelType == null}"/>Raw</label>
		<br /> 
		<input type="submit" name="command" value="QUERY"/> 
		<input type="submit" name="command" value="CONSTRUCT"/> 
		<input type="submit" name="command" value="UPDATE"/>
	</form>

	<hr size="1" />
    
	<div th:if="${result} != null">
		<p class="grey16bf">Response</p>
		<pre th:text="${result}"></pre>
	</div>
</body>
</html>
